body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  margin: .5rem;
}

canvas {
  object-fit: contain;
  background: url(checker.svg) repeat;
  background-size: 12.5%;
}

#inputs {
  display: flex;
  justify-content: space-between;
  width: 90vmin;
  margin: auto;
}

#output-container {
  border: 1px solid black;
  width: 40vmin;
  height: 40vmin;
  display: block;
  margin: 1rem auto;
}

#output-canvas {
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.input-container {
  position: relative;
  border: 1px solid black;
}

.input-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#output-canvas.present, .present .input-canvas {
  visibility: visible;
}

#footnote {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

#download-button {
  display: block;
  margin: auto;
}

/* Remove focus rectangles to be replaced later */

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

::-moz-focus-outer {
  border: 0;
}

/* Standard buttons */

.button {
  background: white;
  border: .3rem solid black;
  border-radius: .5rem;
  padding: .5rem 2.5rem;
  cursor: pointer;
}

.button:disabled {
  color: black;
}

.button:hover:not(:active) {
  background: black;
  color: white;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 .1rem inset white, 0 0 0 .2rem inset black;
}

/* Add buttons */

.file-label {
  width: 20vmin;
  height: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.plus-box {
  line-height: 0;
  border: .2rem solid black;
  padding: .5rem;
  border-radius: .5rem;
}

.file-label:hover:not(:active) > .plus-box {
  background: black;
  color: white;
}

.file:focus + .plus-box {
  box-shadow: 0 0 0 .1rem inset white, 0 0 0 .2rem inset black;
}

/* Channel radio buttons */

.channel-radios {
  display: flex;
  text-align: center;
  margin: .5rem 0;
}

.channel-radio {
  appearance: none;
  margin: 0;
}

.channel-radio:focus {
  outline: none;
}

.channel-label {
  flex: 1 0 auto;

  border: .2rem solid black;
  border-left-width: 0;

  padding: .3rem 0;
  cursor: pointer;
}

:focus + .channel-label, .channel-label:active {
  box-shadow: 0 0 0 .1rem inset white, 0 0 0 .2rem inset black;
}

.channel-label:hover:not(:active), :focus + .channel-label, :checked + .channel-label {
  background-color: black;
  color: white;
}

.channel-label:first-of-type {
  border-left-width: .3rem !important;
  border-radius: .5rem 0 0 .5rem;
}

.channel-label:last-of-type {
  border-radius: 0 .5rem .5rem 0;
}

/* SVG icons */

svg {
  /* Cascade text color into SVG */
  fill: currentColor;
}

.icon {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

/* SVG spinner */

.spinner {
  visibility: hidden;
  transform-origin: center;
  animation: spinner 2s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

:disabled use {
  visibility: hidden;
}

:disabled .spinner {
  visibility: visible;
}

/* Delete button */

.delete-button {
  line-height: 0;
  padding: .5rem;
  visibility: hidden;
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.present .delete-button {
  visibility: visible;
}
